<% provide(:title, 'Все юзеры') %>
  <h1>Все юзеры</h1>

  <ul class="list-group-item" ss="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.name, user %>
        <%= user.email %>
      </li>
    <% end %>
</ul>
