<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Флэшкарточкер</h1>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="/">Главная</a>
        </li>
        <li>
          <a href="/cards">Все карточки</a>
        </li>
        <li>
          <a href="#">Добавить карточку</a>
        </li>
      </ul>
    </header>

    <section>
      <%= yield %>
    </section>

  </body>
</html>
